:root {
	--ad-in-video-margin: 20px;
}

/* ad in video */
.close-ad-button {
	position: absolute;
	right: 0;
	margin: 4px;
	font-size: 10pt;
	color: #fff;
	background: transparent;
	border-style: none;
}
.ad-in-video {
	display: none;
}
.ad-in-video[data-state="visible"]{
	display: block;
	position: absolute;
	background: #000;
}

.small-ad {
	width: 30%;
	height: 20%;
}
.wide-ad {
	height: 20%;
	left: var(--ad-in-video-margin);
	right: var(--ad-in-video-margin);
}

/* ad under video */
.ad-under-video[data-state="visible"]{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	padding-bottom: 10px;
	background: #000;
}
.ad-under-video{
	display: none;
}

/* ad pre video */
.ad-pre-video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: chartreuse;
}