.controls {
	width:100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.controls[data-state=hidden] {
	display:none;
}
.controls[data-state=visible] {
	display:flex;
}

.controls-top {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.controls-top > * {
	padding: 14px;
}

.controls-mid {
	width: 100%;
	min-width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}
.controls-mid > * {
	padding: 10px;
	margin: 0 20px;
	font-size: 1.8em;
}
#playpause {
	font-size: 2.5em;
}

.controls-bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.controls-bottom > * {
	padding: 14px;
	color: #fff;
	font-size: 0.8em;
}
#duration {
	opacity: 0.8;
}

.controls button {
	border:none;
	cursor:pointer;
	background:transparent;
	background-size:contain;
	background-repeat:no-repeat;
	opacity: 0.8;
	color: #fff;
}
.controls button:hover {
	opacity:1;
}
.controls button[data-state="play"] > #playbutton {
	display: none;
}
.controls button[data-state="pause"] > #pausebutton {
	display: none;
}

.controls .progress {
	width:100%;
	height: 2px;
	position: absolute;
	bottom: -2px;
	cursor:pointer;
	background: var(--dark-grey);
}
#progress-bar-line {
	width: calc(100% - 12px);
	height: 4px;
	position: absolute;
}
#progress-bar-line > #progress-bar{
	width: 0;
	height: 100%;
	position: absolute;
	padding-left: 11px;
	background: var(--red);
}
#progress-bar-line > #progress-bar > #playhead {
	width: 23px;
	height: 23px;
	position: absolute;
	top: -9px;
	right: -6px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#progress-bar-line > #progress-bar > #playhead > #playhead-dot{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: var(--red);
}