:root {
	--dark-grey: #212121;
	--grey: #e5e5e5;
	--text-dark-grey: #606060;
	--text-grey: #919191;
	--red: #ff0000;
	--text-red: #cc0000;
	--blue: #065fd4;
	--soft-white: #f4f4f4;
}

body {
	min-width: 200px;
	margin: 0;
	color: #000;
	font-family: 'Roboto', 'Nanum Gothic Coding', sans-serif;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	border: none;
	background: none;
}
button:hover {
	cursor: pointer;
}

:focus {
	outline: none;
}

.channel-img {
	width: 35px;
	min-width: 35px;
	height: 35px;
	margin-right: 10px;
	border-radius: 50%;
	overflow: hidden;
}
.channel-img > img {
	width: 35px;
}


/* header */
header {
	width: 100%;
	height: 48px;
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--dark-grey);
}
.logo {
	padding: 12px;
	height: 20px;
}
header > ul {
	display: flex;
	align-items: center;
}
header > ul > li > a {
	padding: 12px;
	color:var(--soft-white);
}

/* video */
.video-section {
	width: 100%;
	position: sticky;
	top: 48px;
	z-index: 1;
}
.video-section > .video {
	width: 100%;
	padding-bottom: 56.26%;
}
.video-section > .video > #video {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #000;
}
.video-section > .video > #video-screen {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}
.video-section > .video > #video-screen[data-state=visible] {
	display: block;
}

/* title-area */
.title-area {
	margin: 10px;
}
.title-area > .hashtag {
	display: flex;
	align-items: center;
	font-size: 10pt;
}
.title-area > .hashtag > li > a {
	padding: 0 2px;
	color: var(--blue);
}
.title-area > .open-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.title-area > .open-title > div > .title {
	font-size: 14.2pt;
	margin: 5px 0;
}
.title-area > .open-title > div > .view {
	font-size: 9pt;
	color: var(--text-dark-grey);
}
.title-area > .open-title > i {
	font-size: 11pt;
	margin: 10px 5px;
}
/* 타이틀 열기 닫기 버튼 */
#up {
	display: none;
}
#down {
	display: block;
}
.open-title.open > #up {
	display: block;
}
.open-title.open > #down {
	display: none;
}

/* video-buttons */
.video-buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 8px;
	border-bottom: 1px solid var(--grey);
}
.video-buttons > li > a {
	padding: 5px;
	font-size: 13.5pt;
	color: var(--text-grey);
}
.video-buttons > li > a > div {
	font-size: 10pt;
}
/* 버튼 클릭 */
.video-buttons > li > .click {
	color: var(--blue);
}

/* channel-area */
.channel-area {
	height: 60px;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--grey);
}
.channel {
	width: 100%;
	display: flex;
	align-items: center;
}
.channel-info > .channel-title {
	font-size: 10.8pt;
}
.channel-info > .channel-subscriber {
	font-size: 9pt;
	color: var(--text-grey);
}
.channel-subscribe {
	width: 50px;
	font-size: 10.8pt;
	color: var(--text-red);
}

/* video-contents */
.video-contents {
	display: none;
}
.video-contents.open {
	display: block;
	padding: 15px 10px;
	font-size: 10.5pt;
	color: var(--text-dark-grey);
	border-bottom: 1px solid var(--grey);
}

/* comments-close */
.comments-close {
	font-size: 10.2pt;
	border-bottom: 2px solid var(--grey);
}
.comments-close > a {
	height: 48px;
	margin: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.comments-close > .open-comments > div > .comments-num {
	color: var(--text-dark-grey);
}

/* comments-open */
.info-section.open-comments {
	display: none;
}
.next-video-section.open-comments {
	display: none;
}
.comments-close.open-comments {
	display: none;
}

.comments-open {
	display: none;
}
.comments-open.open-comments {
	position: relative;
	display: block;
	width:100%;
	height: 100%;
	background: #f9f9f9;
}

.comments-header {
	position: fixed;
	display: flex;
	width: 100%;
	height: 56px;
	justify-content: space-between;
	align-items: center;
	font-size: 10.5pt;
	border-bottom: 1px solid var(--grey);
	background: #fff;
}
.comments-header > span {
	padding: 10px;
}
.comments-header > a {
	font-size: 24pt;
	font-weight: 200;
	padding: 10px;
}

.comments-body {
	padding-top: 56px;
	overflow-y: auto;
}
.comments-add {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 10px;
}
.comments-input {
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin: 10px 0;
}
/* textarea 활성화 여부 */
.simple-textarea {
	width: 100%;
	line-height: 55px;
	padding-left: 10pt;
	font-size: 10.5pt;
	color: var(--text-dark-grey);
	border: 1px solid var(--grey);
}
.comments-input > .textarea {
	display: none;
}
.comments-buttons {
	display: none;
}
.simple-textarea.active-textarea {
	display: none;
}
.comments-input > .textarea.active-textarea {
	display: unset;
	width: 100%;
	height: 65px;
	font-size: 10.5pt;
	background: #f9f9f9;
	border: 1px solid var(--grey);
	padding: 5px;
	font-family: 'Roboto', 'Nanum Gothic Coding', sans-serif;
}
.comments-buttons.active-textarea {
	display: unset;
}
.comments-buttons > button {
	font-size: 10.5pt;
	margin: 0 10px 10px 10px;
}
.comments-buttons > .ok {
	color: var(--blue);
}

.comment {
	padding: 20px 10px;
	display: flex;
	align-items: flex-start;
	border-top: 1px solid var(--grey);
}
.comment > a {
	padding: 10px 20px;
	color: var(--text-grey);
}
.comment > .comment-text {
	width: 100%;
}
.comment > .comment-text > div {
	padding-bottom: 5px;
	font-size: 9pt;
	color: var(--text-dark-grey);
}
#comment-content {
	font-size: 10.5pt;
	color: #000;
}
#comment-info {
	display: flex;
	justify-content: flex-start;
	font-size: 9pt;
	color: var(--text-grey);
}
#comment-info > a {
	padding-right: 12px;
	font-size: 9pt;
	color: var(--text-grey);
}
#comment-info > a > i {
	padding: 0 5px;
}
.open-reply {
	margin-left: 50px;
	margin-bottom: 30px;
	font-size: 11pt;
	color: var(--blue);
}

/* next-video */
.next-video-section {
	padding: 10px;
}
.next-video-section > h3 {
	margin: 0 12px;
	font-size: 10.5pt;
	font-weight: 400;
}
.next-video-item {
	margin: 12px;
}
.next-video-item > .next-video-thumbnail {
	padding-bottom: 56.26%;
	position: relative;
	background: #000;
	overflow: hidden;
}
.next-video-item > .next-video-thumbnail > img {
	width: 100%;
	position: absolute;
}
.next-video-item > .next-video-meta {
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.next-video-item > .next-video-meta > .next-video-info {
	display: flex;
	width: 100%;
}
.next-video-channel-img {
	flex: 1 1 12%;
	position: relative;
	width: 100%;
	min-width: 35px;
	max-width: 40px;
	margin-right: 10px;
	overflow: hidden;
}
.next-video-channel-img > img {
	position: absolute;
	width: 100%;
	border-radius: 50%;
}
.next-video-item > .next-video-meta > .next-video-info > .title {
	flex: 1 1 80%;
}
.next-video-item > .next-video-meta > .next-video-info > .title > .next-video-title {
	font-size: 11pt;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.next-video-item > .next-video-meta > .next-video-info > a {
	flex: 1 1 8%;
	display: flex;
	justify-content: center;
	padding: 5px;
}
.next-video-item > .next-video-meta > .next-video-info > .title > .channel-title {
	font-size: 9pt;
	padding: 5px 0;
	color: var(--text-grey)
}